<p>I say, this is from SSI! I see you as '<b id="user">{{ request.user }}</b>', on path '<b id="path">{{ request.path }}</b>'</p>
<p>My variables are {{ request.GET }}</p>
<p>You are from nginx: <b id="nginx">{% if request.is_nginx %}Yep!{% else %}Nope.{% endif %}</b> and SSI: <b id="ssi">{{ request.is_ssi }}</b></p>
<p>Random number: <b id="random">{{ random }}</b></p>
